<app-navbar>



  <div adminContent>
    <p>{{adminName}}</p>
    <button mat-icon-button [matMenuTriggerFor]="adminMenu" class="round-icon" (click)="fetchUserDetails()">
      <mat-icon class="account-icon">account_circle</mat-icon>
    </button>

    <mat-menu #adminMenu="matMenu">
      <!-- <div class="menu-header">{{ userRole }}</div> -->
      <div class="admin-name">{{ adminName }}</div>
      <hr />

      <button mat-menu-item routerLink="/wishlist" (click)="handleClick()">My Wishlist</button>
      <button mat-menu-item routerLink="/properties" (click)="handleClick()">My Property</button>
      <button mat-menu-item routerLink="/requestlist" (click)="handleClick()">Requests</button>
      <button mat-menu-item routerLink="/propertylist" (click)="handleClick()">All Properties</button>
      <button mat-menu-item routerLink="/sell-rent" (click)="handleClick()">Post property Ad</button>
      
      

      <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
  </div>
</app-navbar>