/* Styling for the button and icon */
.round-icon {
    background-color: #2980b9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  
  /* Styling for the icon */
  .account-icon {
    color: white;
    font-size: 24px;
  }
  
  /* Styling for menu header and admin name */
  .menu-header,
  .admin-name {
    padding: 8px 16px;
    color: white;
  }
  