<header>
  <div class="header-container">
    <div class="left-content">
      <img src="../../../assets/logo.png" alt="Logo" />
      <div class="logo-text" routerLink="/">
        <span
          style="
            color: #2980b9;
            font-size: 28px;
            font-weight: 700;
            word-wrap: break-word;
          "
          >No</span
        ><span
          style="
            color: #292c44;
            font-size: 28px;
            font-weight: 300;
            word-wrap: break-word;
            font-weight: 500;
          "
          >Agent</span
        >
      </div>
    </div>
    <div class="right-content">
      <ng-content select="[buttonsContent]"></ng-content>
      <ng-content select="[adminContent]"></ng-content>
    </div>
  </div>
</header>
