 <body>
  <app-profile></app-profile>
  <div class="container">
    <div class="headings">
      <div style="font-size: xx-large; font-weight: 550">Your Wishlist</div>
    </div>
    <div class="main-box">
      <div class="column-1">
        <div class="row">
          <div class="element">
            <div class="section1">
              <div class="text-rows">
                <div style="margin-bottom: -53px">Text Row 1</div>
                <div style="margin-bottom: -53px">Text Row 2</div>
                <div style="margin-bottom: -24px">Text Row 3</div>
              </div>
              <div class="get-details-button">Get Owner Details</div>
            </div>
            <div class="section2">
              <div class="close-button">×</div>
              <div class="photo"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="element">
            <div class="section1">
              <div class="text-rows">
                <div style="margin-bottom: -53px">Text Row 1</div>
                <div style="margin-bottom: -53px">Text Row 2</div>
                <div style="margin-bottom: -24px">Text Row 3</div>
              </div>
              <div class="get-details-button">Get Owner Details</div>
            </div>
            <div class="section2">
              <div class="close-button">×</div>
              <div class="photo"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-2">
        <div class="row">
          <div class="element">
            <div class="section1">
              <div class="text-rows">
                <div style="margin-bottom: -53px">Text Row 1</div>
                <div style="margin-bottom: -53px">Text Row 2</div>
                <div style="margin-bottom: -24px">Text Row 3</div>
              </div>
              <div class="get-details-button">Get Owner Details</div>
            </div>
            <div class="section2">
              <div class="close-button">×</div>
              <div class="photo"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="element">
            <div class="section1">
              <div class="text-rows">
                <div style="margin-bottom: -53px">Text Row 1</div>
                <div style="margin-bottom: -53px">Text Row 2</div>
                <div style="margin-bottom: -24px">Text Row 3</div>
              </div>
              <div class="get-details-button">Get Owner Details</div>
            </div>
            <div class="section2">
              <div class="close-button">×</div>
              <div class="photo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer style="height: 20px; background-color: #a9dfff"></footer>
</body> 



