<body>
  <app-profile> </app-profile>

  <main>

    <app-sort-filter></app-sort-filter>
    <div class="propertySection" #propertySection>
      <div class="property" *ngFor="let property of propertyData">
        <br>

        <h2>{{ property.name }}</h2> <!-- Adjust according to your data structure -->
        <p>Rent: {{ property.rent }}</p>
        <p>Deposit: {{ property.deposit }}</p>
        <p>Built-up Area: {{ property.builtUpArea }}</p>


        <div class="property-body">
          <div class="image-container">
          </div>
          <div class="property-right">
            <div class="property-details">
            </div>

            <button class="customButtons"> Get Owner Details</button>
            <button class="customButtons"> Wishlist </button>
          </div>
        </div>
      </div>
    </div>

  </main>

</body>