<app-navbar>
  <div buttonsContent>
    <button class="shadow-button" (click)="openPopup()">Sign up</button>
    <button class="shadow-button" (click)="showLoginPopup()">Login</button>
  </div>
</app-navbar>

<body>
  <div class="container">
    <div class="center-container">
      <h2>Unlock Homes Without the Middleman.</h2>

      <div class="joined-buttons">
        <button
          class="jbutton"
          [class.active]="buyActive"
          (click)="toggleBuyActive()"
        >
          Buy
        </button>
        <button
          class="jbutton"
          [class.active]="rentActive"
          (click)="toggleRentActive()"
        >
          Rent
        </button>
      </div>

      <div class="search-bar">
        <!-- app.component.html -->
        <div class="dropdown">
          <select id="cityDropdown" [(ngModel)]="selectedCity">
            <option value="" disabled>Select a city</option>
            <option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </option>
          </select>
        </div>

        <input
          type="text"
          class="locality-textarea"
          placeholder="Enter Locality"
        />
        <button class="search-button" routerLink="viewproperty">Search</button>
      </div>

      <div class="hr-container">
        <hr />
        <p class="property-owner-text">Are you a property owner?</p>
        <hr />
      </div>

      <button class="post-ad-button" routerLink=sell-rent>Post your property AD</button>
    </div>
  </div>
</body>
