<!-- Include the navbar component -->
<app-navbar></app-navbar>

<!-- Main body content -->
<body>
	<div class="row">
		<!-- Title and instructions -->
		<h1>Forgot Password</h1>
		<h6 class="information-text">Enter your registered email to reset your password.</h6>

		<!-- Form for resetting password -->
		<div class="form-group">
			<!-- Email input field -->
			<input type="email" placeholder="Email" [(ngModel)]="email" name="email" #emailInput="ngModel"
			required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
			(blur)="emailInputFocused = false" (focus)="emailInputFocused = true" />
			<!-- Error messages -->
			<div *ngIf="!emailInputFocused && emailInput.invalid && (emailInput.dirty || emailInput.touched)"
			class="error-message">
				<div *ngIf="emailInput.errors?.['required']">Email is required</div>
				<div *ngIf="emailInput.errors?.['pattern']">Invalid email format</div>
			</div>

			<!-- Placeholder for other form elements -->
			<p><label for="username"></label></p>

			<!-- Button to reset password -->
			<button onclick="showSpinner()">Reset Password</button>
		</div>

		<!-- Footer with links for signing up and signing in -->
		<div class="footer">
			<h5>New here? <a href="#">Sign Up.</a></h5>
			<h5>Already have an account? <a href="#">Sign In.</a></h5>
		</div>
	</div>
</body>
