<app-navbar></app-navbar>

<body>
	<div class="row">
		<h1>Forgot Password</h1>
		<h6 class="information-text">Enter your registered email to reset your password.</h6>
		<div class="form-group">
			<input type="email" placeholder="Email" [(ngModel)]="email" name="email" #emailInput="ngModel"
			required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
		  <div *ngIf="emailInput.invalid && emailInput.touched && !emailInput.pristine" class="error-message">
			<div *ngIf="emailInput.errors?.['required']">Email is required</div>
			<div *ngIf="emailInput.errors?.['pattern']">Invalid email format</div>
		  </div>
			<p><label for="username"></label></p>
			<button onclick="showSpinner()">Reset Password</button>
		</div>
		<div class="footer">
			<h5>New here? <a href="#">Sign Up.</a></h5>
			<h5>Already have an account? <a href="#">Sign In.</a></h5>
		</div>
	</div>
</body>