<body>
<app-profile></app-profile>

  <div class="container">
    <div class="headings">
      <h3
        style="color: #292c44; font-size: 28px; font-weight: 600; padding: auto"
      >
        Properties
      </h3>
      <div class="dropdown-container" onclick="toggleDropdown()">
        <button class="dropdown-button">
          Property Type
          <i
            class="fa-solid fa-sort-down"
            style="margin-left: 12px; padding-bottom: 2px"
          ></i>
        </button>
        <div id="dropdownContent" class="dropdown-content">
          <button onclick="selectPropertyType('Rent')">Rent</button>
          <button onclick="selectPropertyType('Sell')">Sell</button>
        </div>
      </div>
    </div>
    <div class="main-box">
      <div class="column">
        <a routerLink="../propertydetails" class="rectangle clickable-address">Address</a>
        <a href="#" class="rectangle clickable-address">Address</a>
        <a href="#" class="rectangle clickable-address">Address</a>
        <a href="#" class="rectangle clickable-address">Address</a>
        <a href="#" class="rectangle clickable-address">Address</a>
        <a href="#" class="rectangle clickable-address">Address</a>
      </div>
      <div class="column">
        <div class="rectangle" style="justify-content: center">Price/Rent</div>
        <div class="rectangle" style="justify-content: center">Price/Rent</div>
        <div class="rectangle" style="justify-content: center">Price/Rent</div>
        <div class="rectangle" style="justify-content: center">Price/Rent</div>
        <div class="rectangle" style="justify-content: center">Price/Rent</div>
        <div class="rectangle" style="justify-content: center">Price/Rent</div>
      </div>
      <div class="column">
        <div class="rectangle owner-phone-container">
          <div>Owner</div>
          <div>Phone</div>
        </div>
        <div class="rectangle owner-phone-container">
          <div>Owner</div>
          <div>Phone</div>
        </div>
        <div class="rectangle owner-phone-container">
          <div>Owner</div>
          <div>Phone</div>
        </div>
        <div class="rectangle owner-phone-container">
          <div>Owner</div>
          <div>Phone</div>
        </div>
        <div class="rectangle owner-phone-container">
          <div>Owner</div>
          <div>Phone</div>
        </div>
        <div class="rectangle owner-phone-container">
          <div>Owner</div>
          <div>Phone</div>
        </div>
      </div>
    </div>
  </div>

  <footer style="height: 20px; background-color: #a9dfff"></footer>
</body>
