
  <app-profile></app-profile>
  <div class="container">
    <div class="headings">
      <h3 style="color: #292c44; font-size: 28px; font-weight: 600; padding: auto">
        Properties
      </h3>
      <div class="dropdown-container" (click)="toggleDropdown()">
        <button class="dropdown-button">
          Trade Type
          <i class="fa-solid fa-sort-down" style="margin-left: 12px; padding-bottom: 2px"
            [class.rotate]="dropdownOpen"></i>
        </button>
        <div id="dropdownContent" class="dropdown-content" [class.show]="dropdownOpen">
          <button>Rent</button>
          <button>Sell</button>
          <button (click)="selectTradeType('All')">All</button>
          <button (click)="selectTradeType('Rent')">Rent</button>
          <button (click)="selectTradeType('Sell')">Sell</button>
        </div>
      </div>
    </div>

    <div>
      <table>
        <tr class="hed">
          <td class="item">Address</td>
          <td>Price</td>
          <td>Owner Name</td>
          <td>Property Type</td>
        </tr>
        <tr *ngFor="let property of properties; let i = index">
          <td>
            <a [routerLink]="['/propertydetails']">
              {{ property.state|| "" }}
            </a>
          </td>
          <td>
            {{ property.rent_price || property.prop_price }}
          </td>
          <td>
            <div>{{ property.owner_user_name }}</div>
          </td>
          <td>
            <div>{{property.property_type || 'NA'}}</div>
          </td>
        </tr>
      </table>
    </div>
