<app-navbar></app-navbar>
<body>
  <div style="text-align: center; margin-top: 20px">
    <h2
      style="
        color: #292c44;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 8px;
        word-spacing: 10px;
        margin-bottom: 5px;
      "
    >
      Sell your Property
    </h2>
  </div>

  <main class="mainBody">
    <!-- LEFT SIDE -->
    <div class="propertyForm">
      <h3
        style="color: #292c44; font-size: 20px; font-weight: 600; padding: auto"
      >
        Property Details
      </h3>

      <select class="dropdown">
        <option value="" disabled selected>BHK Type</option>
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
      </select>

      <input
        type="text"
        class="customInputField"
        id="myInput"
        placeholder="Built up Area"
      />

      <h3
        style="
          color: #292c44;
          font-size: 20px;
          font-weight: 600;
          padding-top: 10px;
          padding-bottom: 0px;
        "
      >
        Locality Details
      </h3>
      <select class="dropdown">
        <option value="" disabled selected>Select State</option>
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
      </select>

      <div class="addressBox">
        <h4>Enter Your Address</h4>
        <input
          type="text"
          id="myInput"
          class="addressInput"
          placeholder="Stret Name/House No./ Building Name"
        />
        <input
          type="text"
          id="myInput"
          class="addressInput"
          placeholder="City"
        />
        <input
          type="text"
          id="myInput"
          class="addressInput"
          placeholder="LandMark"
        />
        <input
          type="text"
          id="myInput"
          class="addressInput"
          placeholder="Pincode"
        />
      </div>
    </div>
    <img
      style="z-index:1000; position: fixed;right:800px;bottom: 300px;"
      src="../../../assets/images/s1.svg"
    />
    <!-- Right SIDE -->
    <div class="propertyForm">
      <h3
        style="
          color: #292c44;
          font-size: 20px;
          font-weight: 600;
          padding-top: 10px;
          padding-bottom: 0px;
        "
      >
        More Details
      </h3>

      <div class="furnishingBox">
        <p>Furnishing</p>
        <div class="radio-container">
          <label> <input type="radio" name="checkbox1" /> Full </label>
          <label> <input type="radio" name="checkbox2" /> Semi </label>
          <label> <input type="radio" name="checkbox3" /> None </label>
        </div>
      </div>

      <input
        style="padding-left: 10px"
        type="text"
        class="customInputField"
        id="myInput"
        placeholder="Property  Price"
      />
      <br />
      <select class="dropdown" style="padding: 10px">
        <option value="" disabled selected>Property Type</option>
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
      </select>
      <br />
      <select class="dropdown" style="padding: 10px">
        <option value="" disabled selected>Amenities</option>
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
      </select>
      <h3
        style="
          color: #292c44;
          font-size: 20px;
          font-weight: 600;
          padding-top: 20px;
        "
      >
        Gallery
      </h3>

      <div class="image-container">
        <p class="plus-sign">+</p>
      </div>

      <button class="shadow-button">Save and Post</button>
    </div>
  </main>
</body>
