.property-amenities {
    padding-top: 20px;
    width: 516px;
    margin-left: 5px;
    
}

.outer-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
}

.inner-box {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 80%;
}

.amenity-box-1
 {
    width: 50%; /* Each box takes 50% width */
    height: 50%; /* Each box takes 50% height */
    border: 1px solid #000;
    box-sizing: border-box; /* Include border in width and height calculation */
    border-top-left-radius: 10px;
}
.amenity-box-2
 {
    width: 50%; /* Each box takes 50% width */
    height: 50%; /* Each box takes 50% height */
    border: 1px solid #000;
    box-sizing: border-box; /* Include border in width and height calculation */
    border-top-right-radius: 10px;
}
.amenity-box-3
 {
    width: 50%; /* Each box takes 50% width */
    height: 50%; /* Each box takes 50% height */
    border: 1px solid #000;
    box-sizing: border-box; /* Include border in width and height calculation */
    border-bottom-left-radius: 10px;
}
.amenity-box-4
 {
    width: 50%; /* Each box takes 50% width */
    height: 50%; /* Each box takes 50% height */
    border: 1px solid #000;
    box-sizing: border-box; /* Include border in width and height calculation */
    border-bottom-right-radius: 10px;
}
.amenity-box-1:hover,
.amenity-box-2:hover,
.amenity-box-3:hover,
.amenity-box-4:hover {
    background-color: white;
    transform: scale(1.1); /* Apply a scale effect on hover */
}
.property-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 420px;
}
.get-details-button{
    color: white;
    width: 195px;
    height: 38px;
    border-radius: 7px;
    background-color: #292C44;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.get-details-button:hover {
    background-color: #3A3E5F; /* Darken the background color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
}
.wishlist-button{
    background-color: #292C44;
    color: white;
    cursor: pointer;
    width: 195px;
    height: 38px;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.wishlist-button:hover {
    background-color: #3A3E5F; /* Darken the background color on hover */
    transform: scale(1.05); /* Add a slight scale effect on hover */
}