<div class="property-amenities">
    <div class="outer-box">
        <div class="inner-box">
            <!-- 4 boxes inside the inner box -->
            <div class="amenity-box-1"></div>
            <div class="amenity-box-2"></div>
            <div class="amenity-box-3"></div>
            <div class="amenity-box-4"></div>
        </div>
        <div class="property-buttons">
            <button class="get-details-button">Get Owner Details</button>
            <button class="wishlist-button">Wishlist</button>
        </div>
    </div>
</div>