.property-info {
    background-color: #292C44;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 60px;
}

.property-info .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-right: 25px;
}
.property-info .type{
    font-size: 14px;
}

.property-info .address {
    flex: 5;
    padding: 0 15px;
    border-left: 2px solid white;
}

.property-info .rent {
    flex: 1;
    text-align: center;
    border-left: 2px solid white;
}
.property-info .area {
    flex: 1;
    text-align: center;
    border-left: 2px solid white;
}
.property-info .deposit {
    flex: 1;
    text-align: center;
    border-left: 2px solid white;
}