<div class="main">
  <div class="login">
    <div class="header">
      <iframe
        src="https://lottie.host/embed/ad61c4e0-9b05-4f12-af3b-b5faddcb082b/5rbUGjAlGb.json"
      ></iframe>
      <p class="heading1">Login to Your Account</p>
      <p class="heading2">
        Access thousands of listings and verified <br />properties with zero
        brokerage.
      </p>
    </div>

    <div class="loginBody">
      <p class="username">Username</p>
      <input type="text" placeholder="Enter your username" />

      <p class="username">Password</p>
      <input
        type="password"
        placeholder="Enter your password"
        class="password"
      />

      <button class="loginBtn">Log In</button>
    </div>

    <div class="footer">
      <p class="properties">》 Zero Brokerage</p>
      <p class="properties">》Thousands of Listings</p>
      <p class="properties">》Verified Properties</p>
    </div>
  </div>
</div>
