.property-maps {
    height: 350px;
    width: 935px;
    margin-top: 20px;
    border: 1px solid black;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    margin-right: 5px;
}

.location-column {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: #292C44; /* Blue color */
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl; /* Vertical writing mode */
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: large;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.location-column p {
    margin: 0;
    transform: rotate(180deg); /* Rotate text for vertical display */
    letter-spacing:10px;
}

.get-directions-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #292C44;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}