<body>
  <app-profile></app-profile>
  <div class="main-body">
    <div class="outer-box">
      <div class="address-row">Address</div>
      <div class="details-row">Details</div>
      <div class="content-rows">
        <div class="content-row content-left">
          <div class="photo-container">
            <!-- Add your photo here -->
            <img src="../../../assets/images/room1.jpg" alt="Photo" />
          </div>
        </div>
        <div class="content-row content-right">
          <!-- <div class="amenity-row" *ngIf="Properties[0].amenities.length>0">
            <div class="amenity" *ngFor="let amenity of Properties[0].amenities">{{ amenity }}</div>
          </div> -->
          <div class="amenity-box">
            <div *ngIf="Properties[0] && Properties[0].amenities && Properties[0].amenities.length > 0" class="amenity-container">
              <div class="amenity-row">
                <div class="amenity" *ngFor="let amenity of Properties[0].amenities; let i = index;" [ngClass]="{'pair-start': i % 2 === 0, 'pair-end': i % 2 === 1}">
                  {{ amenity }}
                </div>
              </div>
            </div>
            <div *ngIf="!Properties[0] || !Properties[0].amenities || Properties[0].amenities.length === 0">
              No amenities available.
            </div>
          </div>
          
          <div class="buttons">
            <button class="button" (click)="approveProperty()">Approve</button>
            <button class="button" (click)="deleteProperty()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
