<header>
    <div>
      <img src="../../../assets/logo.png" alt="Logo" />
      <div style="left: 80px; top: 20px; position: absolute">
        <span
          style="
            color: #4f80e1;
            font-size: 28px;
            font-weight: 700;
            word-wrap: break-word;
          "
          >No</span
        ><span
          style="
            color: #292c44;
            font-size: 28px;
            font-weight: 300;
            word-wrap: break-word;
          "
          >Agent</span
        >
      </div>
    </div>
</header>