<header>
  <div class="layout">
      <img src="../../../assets/logo.png" alt="Logo" />
     <div class="navBar">

      <div class="text-container">
        <span style="color: #4f80e1; font-size: 28px; font-weight: 700; word-wrap: break-word;">No</span>
        <span style="color: #292c44; font-size: 28px; font-weight: 300; word-wrap: break-word;">Agent</span>
      </div>
       <div class="button-container">
          <button class="customButtons">Login</button>
          <button  class="customButtons">Signup</button>
      </div>
      
     </div>
  </div>
</header>