<body>
  <app-navbar></app-navbar>
  <div class="main-body">
    <div class="outer-box">
      <div class="address-row">Address</div>
      <div class="details-row">Details</div>
      <div class="content-rows">
        <div class="content-row content-left">
          <div class="photo-container">
            <!-- Add your photo here -->
            <img src="../../../assets/images/room1.jpg" alt="Photo" />
          </div>
        </div>
        <div class="content-row content-right">
          <div class="amenity-box">
            <!-- First Row of Amenities -->
            <div class="amenity-row">
              <div class="amenity">Amenity 1</div>
              <div class="amenity">Amenity 2</div>
            </div>
            <!-- Second Row of Amenities -->
            <div class="amenity-row">
              <div class="amenity">Amenity 3</div>
              <div class="amenity">Amenity 4</div>
            </div>
          </div>
          <div class="buttons">
            <button class="button">Modify</button>
            <button class="button">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
